@import "tailwindcss";

@keyframes modal-in {
    0% {
        opacity: 0;
        transform: scale(0.85) translateY(40px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes modal-out {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    100% {
        opacity: 0;
        transform: scale(0.85) translateY(40px);
    }
}

.animate-modal-in {
    animation: modal-in 0.3s cubic-bezier(.4, 0, .2, 1) forwards;
}

.animate-modal-out {
    animation: modal-out 0.3s cubic-bezier(.4, 0, .2, 1) forwards;
}